<%= button_to 'Log out', destroy_user_session_path, method: :delete %>
<h1>Contacts</h1>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Date of Birth</th>
          <th>Telephone</th>
          <th>Address</th>
          <th>Credit Card Number</th>
          <th>Credit Card Franchise</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @contacts.each do |contact| %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.email %></td>
            <td><%= contact.date_of_birth.strftime("%Y %B %d") %></td>
            <td><%= contact.telephone %></td>
            <td><%= contact.address %></td>
            <td><%= contact.credit_card_number.last(4) %></td>
            <td><%= contact.credit_card_franchise %></td>
            <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%== pagy_nav(@pagy) %>

<br>

<h3>Import Contacts from CSV</h3>
<%= form_with url: import_contacts_path, multipart: true do |form| %>
  <%= form.file_field :file %>
  <br>
  <%= form.submit "Import Contacts" %>
<% end %>
<br>
<%= button_to 'Error Logs', error_logs_path, method: :get %>
<br>
<%= button_to 'Imported Files', imported_files_path, method: :get %>
